* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

input {
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(74, 113, 185);
}

#board {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

#board > div {
  /* background-color: aquamarine; */
  width: 350px;
}

.column {
  border: 1px solid rgb(63, 63, 63);
  min-height: 120px;
}

.content {
  background-color: rgb(248, 247, 247);
  margin-left: 10px;
  padding: 5px;
  border-radius: 3px;
}

.task {
  margin: 5px;
  box-shadow: 15px 15px 25px -10px rgba(0, 0, 0, 0.75);
}

.toDo .task{
  background-color: red;
}

.doing .task{
  background-color: blue;
}

.done .task{
  background-color: green;
}

.deleteBtn {
  padding: 5px;
  background-color: red;
  border: none;
  border-radius: 3px;
}

.cancelBtn {
  padding: 5px;
  background-color: rgb(108, 108, 218);
  border: none;
  border-radius: 3px;
}

.taskMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
